<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>
        Url Shortner
    </h1>
    <% if (locals.id) { %>
            <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <form method="post" action="/url/">
        <label>Enter Your Domain</label>
        <input 
          type="text"
          name="url"
          placeholder="https://example.com"
        />
        <button type="submit">Generate Url</button>
    </form>
</body>
</html>